body {
  font-family: Arial, sans-serif;
  background-color: #131313;
  color: #fff;
  margin: 0;
  padding: 0;
  background-image: url("./image/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main {
  padding-bottom: 100px;
}

.circle {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.587);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161616;
  color: white;
  padding: 24px 100px;
  border-bottom: 2px solid rgb(210, 210, 210);
}

.logo {
  font-size: 29px;
  font-weight: bold;
  margin: 0;
}

.menu {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.menu li a {
  text-decoration: none;
  color: white;
  position: relative;
  font-size: 16px;
  transition: color 0.3s;
}

.menu li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.menu li a:hover::after {
  transform: scaleX(1);
}

.title1 {
  font-size: 70px;
  font-family: Arial, sans-serif;
  line-height: 60px;
  padding: 24px 100px;
  margin-top: 16%;
  position: relative;
}

.desc {
  font-size: 20px;
  color: #e0e0e0;
  padding: 25px 105px;
  margin-top: -90px;
}

.desc::after {
  content: "";
  display: block;
  width: 400px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 10px;
}

/* ==== FOOTER ==== */
.footer {
  background-color: #111;
  padding: 50px 100px;
  color: #ccc;
  border-top: 2px solid rgb(210, 210, 210);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.footer-left {
  max-width: 500px;
}

.footer-logo {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.footer-desc {
  margin: 15px 0;
  line-height: 1.6;
  font-size: 14px;
}

.footer-copy {
  margin-top: 20px;
  font-size: 13px;
  color: #777;
}

.footer-right {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-column h4 {
  margin-bottom: 10px;
  color: #fff;
}

.footer-column a {
  display: block;
  position: relative;
  text-decoration: none;
  color: #aaa;
  font-size: 14px;
  margin-bottom: 8px;
  transition: color 0.3s;
}

.footer-column a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.footer-column a:hover {
  color: white;
}

.footer-column a:hover::after {
  transform: scaleX(1);
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
  filter: brightness(0.8);
  transition: filter 0.3s;
}

.icon:hover {
  filter: brightness(1.2);
}
